<%if alert %>
	<div class="container">
		<div class="alert alert-danger">
			<%= alert %>	
		</div>
	<% end %>
	</div>


	<div class="navbar navbar-dark bg-dark shadow-sm">
		<div class="container d-flex justify-content-between">
			<a href="#" class="navbar-brand d-flex align-items-center">
				<strong>GUILD</strong>
			</a>
		</div>
	</div>
	</header>

	<main role="main">

	<section class="jumbotron">
		<div class="container">
			<h1 class="jumbotron-heading"><%=  @company.name %></h1>
			<div id="company_tags">
				<% if @company.tags %>
					<% @company.tags.each do |tag| %>
						<% if @company.errors.any? && tag.body == @tag.body %>
							<% next %>
						<% else %>
							<span class="badge badge-warning"><%= link_to "#{tag.body}", [tag.company, tag] , method: :delete %> </span>
						<% end %>
					<% end %>
				<%end%>	
			</div>
			<h5 class="lead text-muted">Organization Leader: <%= User.find(@company.owner_id).username %></h5>
			<p class="lead text-muted">
			<div id="organization-members">
				<% if @workers != nil && @workers.count != 0%>
					<h3>Members : </h3>
					<ul>
						<% @workers.each do |w|  %>
							<li>
								<% worker = User.find(w.user_id) %>
								<%= worker.username %>
								<% if session[:user_id].to_i == @company.owner_id.to_i %>
									<%= link_to "remove", [@company, w], method: :delete %>
								<% end %>
							</li>
						<%end%>
					</ul>
				<% else %>
					<h5 class="text-muted">Company does not have any member </h5>
				<% end %>
			</div>
			</p>
			<!--			<p>
		 <% if session[:user_id].to_i == @company.owner_id.to_i %>
			 <a href="#organization_form" class="btn btn-primary my-2">Add Member</a>
		 <% end %>
		 <a href="#contact_form" class="btn btn-success my-2">Add Contact</a>
		 </p> -->
		</div>
	</section>

	<div class="album py-5 bg-light">
		<div class="border container"> 
			<!-- See errors when sending a new invitation -->
			<% if @invitation %>
				<% if @invitation.errors.any? %>
					<div id="invitation_error_explanation">
						<ul class="list-group">
							<% @invitation.errors.full_messages.each do |msg| %>
								<li class="list-group-item"><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
			<%end%>
			<% if session[:user_id].to_i == @company.owner_id.to_i %>
				<h3 class="text-muted text-center" id="organization_form">Send an Invitation</h3>
				<%= form_with scope: :company, class:"form-inline justify-content-center", url: company_invitations_path(@company.id), local: true do |form| %>
					<%= form.text_field :email, class: "form-control mb-2 mr-sm-2",
						placeholder: "User E-mail"%>
					<%= form.submit "Send Invitation",class: "btn btn-primary mb-2" %>
				<%end%>
			<% end %>
		</div>
		<br><br>
		<div class="border container">
			<!-- list user contacts -->
			<% if @user_contacts != nil && @user_contacts.count != 0%>
				<h3 class="text-muted text-center">Contacts</h3>
				<ul class="list-group">
					<% @user_contacts.each do |c|  %>
						<li class="list-group-item">
							<%= "Username : #{c.name},  Email: #{c.email}"  %>
							<%= link_to "remove", company_contact_path(@company, c), method: :delete %>
						</li>
					<%end%>
				</ul>
			<% end %>
			<!-- list company contacts -->
			<% if @company_contacts != nil && @company_contacts.count != 0%>
				<ul class="list-group">
					<% @company_contacts.each do |c|  %>
						<li class="list-group-item">
							<%= "Company: #{c.name}, Website: #{c.website}" %>
							<%= link_to "remove", company_contact_path(@company, c, type: "company"), method: :delete %>
						</li>
					<%end%>
				</ul>
			<% end %>
		</div>
		<div class="border container">
			<!-- See errors when adding a new contact -->
			<% if @new_contact %>
				<% if @new_contact.errors.any? %>
					<div id="invitation_error_explanation">
						<ul>
							<% @new_contact.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
			<%end%>
			<br>
			<!-- create a new contact -->
			<h3 class="text-muted text-center">Create a new contact</h3>
			<%= form_with scope: :company, id:"contact_form", url: company_contacts_path(@company.id),
				class: "p-3", local: true do |form| %>
				<div class="form-group">
					<label for="UserOrCompanyField">User or Company Contact ?</label>
					<%= form.select :option,
						options_for_select([["Company", "company"],
													["User","user"]]),{},
					{:class => "form-control", :id => "UserOrCompanyField"} %>	
			</div>

			<div class="form-group" id="UserFieldDiv">
				<div class="form-group">
					<%= form.label :username %>
					<%= form.text_field :username, class:"form-control", id:"UserName",
						placeholder:"Username" %>
					<%= form.label :email %>
					<%= form.text_field :email, class:"form-control", id:"Email",
						placeholder:"Email" %>
			</div>
			</div>

			<div class="form-group" id="CompanyFieldDiv">
				<div class="form-group">
					<%= form.label :company_name, "Company Name" %>
					<%= form.text_field :company_name, class:"form-control", id:"CompanyName",
						placeholder:"Company Name"%>
					<%= form.label :website %>
					<%= form.text_field :website, class:"form-control", id:"Website",
						placeholder:"Website"%>
			</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		<% end %>
		</div>
	</div>

	</main>

	<footer class="text-muted">
		<div class="container">
			<p class="float-right">
			<a href="#">Back to top</a>
			</p>
			<p class="float-left">
			<%= link_to "Return", User.find(session[:user_id]), class:"btn btn-secondary" %>
			<%= link_to "DELETE Organization", company_path(@company.id), class:"btn btn-danger", method: :delete %> &nbsp;&nbsp; 	
			<%= form_with scope: :tag, class:"form-inline",url: company_tags_path(@company.id), local: true do |form| %>
				<%= form.label "Add a new tag", class:"mb-2 mr-sm-2" %>
				<%= form.text_field :body, class:"form-control mb-2 mb-sm-2" %>
				<%= form.submit "Add", class:"btn btn-primary mb-2"%>

			<%end%>
			</p>
			<div class="container-fluid">
				<p class="text-center">lg101 - 2019</p>
			</div>
		</div>
	</footer>
	<script>
		$("#selected").prop("selected");
$('#UserFieldDiv').hide();	
$("#UserOrCompanyField").change(function() {
	if ($(this).val() == "company") {
		$('#UserFieldDiv').hide();
		$('#CompanyFieldDiv').show();
	} else {
		$('#UserFieldDiv').show();
		$('#CompanyFieldDiv').hide();
	}
});
$("#seeAnotherField").trigger("change");
	</script>


